body {
    align-content: center;
    font-family: Arial;
    font-size:100%;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: #FFFFF0;
}

#accordionExample {
  width: 80%;
  max-width: 700px; 
  margin: 0 auto; 
}

#accordionExample .accordion-item {
  background-color: #f8f9fa;
  border: 1px solid #ddd; 
}

.accordion-header h2 {
    background-color: #800020;
    color: white; 
}

div.gallery {
    border: 5px solid black;
  }
  
  div.gallery:hover {
    border: 5px solid #800020;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 20.99999%;
  }
  
  @media only screen and (max-width: 600px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

article {
    column-count: 2;
    columb-gap: 35px;
}

article h2 {
    font-size: 170%;
    margin-top: 1em;
    column-span: all;
}

article p {
    margin-top: 0;
    margin-bottom: .5em;
}

article img {
    float: right;
    width: 200px;
    margin: 0 1.5em 1em 0;
}

.butler-background {
    background-image: url(butler.jpg);
    background-size: cover;
    background-position:center;
    height:84vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:white;
    background-repeat: no-repeat;
    background-attachment:fixed;
}    

.butler-background h3{
    background-color: black;
    font-variant: small-caps;
    font-size: 1.8rem;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

fieldset {
    border: 2px solid #800020; 
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: #FFFFF0;
  align-items: center;
}

main {
    border-radius: 10px;
    width:87vw;
    min-width:49vw;
    background-color: #F5F5DC;
    overflow: auto;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

#mainform {
    float:left;
    height: 84vh;
    width: 49vw;
    align-content: center;
    padding: 0;
    margin: 0;
}

#mainform h2 {
    font-variant: small-caps;
    font-size: 250%;
}
label {
    float: left;
    width: 5em;
    margin-left: 30%;
    text-align:right;
    align-content: center;
}

input {
    width:25em;
    margin-left: 5%;
    margin-bottom: .25em;
}

input[type="submit"] {
    background-color: black; 
    font-weight: bold;
    width:25em;
    font-variant:small-caps;
    margin-left: 30%;
    font-size: 120%;
    color: #FFFFF0; 
    padding: .25em 1em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #800020;
}

input[type="reset"] {
    background-color: black; 
    font-weight: bold;
    font-variant:small-caps;
    width: 25em;
    margin-left: 30%;
    font-size: 120%;
    color: #FFFFF0; 
    padding: .25em 1em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="reset"]:hover {
    background-color: #800020;
}

#sidebarA {
    width: 10vw;
    height: 84vh;
    float: left;
    color: white;
    overflow: auto;
    background-color:#800020;
    margin: 0 0 0 0;
    text-align: center;
    align-content: center;
}

textarea {
    height: 25em;
    width: 25em;
    margin-left: 5%;
    margin-bottom: .25em;    
}

#sidebarB {
    width: 40vw;
    height: 84vh;
    float: right;
    border-left: 5px solid black;
    height: 800px;
    color: white;
    background-color: #800020;
    align-content: center;
    text-align: center;  
}

a {
    text-decoration: none;
    transition: text-shadow 0.3s ease;
}

a:hover, a:focus {
    text-shadow: 2px 2px 5px rgba(0, 0, 40, 0.6);
    border-radius: 20px;
    border: 2px solid #333;
    background-color:black;
    padding: .20em .5em .25em .5em;
}

header {
    width: 100vw;
    height: 8vh;
      background-color: black;
      padding-top: .5em;
      text-align: center;
      padding-bottom: .5em;
      color: #f5f5f5;      
  }
  
  h1 {
    font-family: 'Garamond', serif;
    font-size: 3.5rem;
    margin: 0%;
    font-weight: 700;
    text-transform: capitalize;
    Letter-spacing: 1px;
    color: white;
  }

  h2 {
    text-align: center;
    font-size: 200%;
    font-variant:small-caps;
    padding: 0;
    margin: .5em 0 1em 0;
  }

  #footer_nav {
    border-bottom: 1px;
    background-color: black;
    border-top: 1px;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: .35em 2em;
 }

 #footer_nav li {
    display: inline-block;
    padding: 0 2em 0 2em;
 }

 #footer_nav a:hover, a:focus {
    text-shadow: 2px 2px 5px rgba(0, 0, 40, 0.6);
    border-radius: 20px;
    border: 2px solid #333;
    background-color:#800020;
    padding: .20em .5em .25em .5em;
 }

nav ul li {
     display:flex;
    padding: 2em 0 2em 0;
}

nav ul li a {
    color: white;
    font-size: 120%;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0;
    padding: 0;
} 

footer {
    clear: both;
    width: 100vw;
    height: 8vh;
    padding-top: .5em;
    padding-bottom: 1.1em;
     text-align:center;
    background-color:black;
  }

  footer p {
    padding-top:0;
    color: white;
    font-style: italic;
  }
  
